<link rel="stylesheet" type="text/css" href="/addItemForm.css">
<div class="formcontainer">

    <form method="post" action="/admin/controlpanel" >
        <fieldset>
            <legend>New menu item Adder :) </legend>
            <label for="itemName">Name:</label>
            <input type="text" id="itemName" name="itemName" placeholder="Product name (if it's already in use the element will be updated instead of created)">
            <label for="price">Price:</label>
            <input type="Number" id="price" name="price" placeholder="Product price">
            <label for="description">Description:</label>
            <textarea id="description" name="description" placeholder="Product description"></textarea>
            <input type="submit" value="Create / Update" >
        </fieldset>
    </form>
</div>