<link rel="stylesheet" type="text/css" href="/footer.css">

<footer class="footer">
    <div class="content">
        <ul>
            <li>
                <p>
                    <a href="/admin/controlpanel">Admin control panel page</a>
                </p>
            </li>
            <li>
                <p>
                    <a href="/chef/controlpanel">Chef control panel page</a>
                </p>
            </li>
            <li>
                <p>
                    <a href="/auth/register">Register a User</a>
                </p>
            </li>
            <li>
                <p>
                    <a href="/auth/registerAdmin">Register an Admin</a>
                </p>
            </li>
            <li>
                <p>
                    <a href="/auth/registerChef">Register a Chef</a>
                </p>
            </li>
        </ul>
    </div>
</footer>