<link rel="stylesheet" type="text/css" href="/navbar.css">
<nav class="nav">
    <a href="/" class="logo">Burger Box</a>
    <div class="nav-right">
        <a class="active" href="/auth/login">login</a>
        <a href="/auth/register">register</a>
        <a href="/auth/logout">logout</a>
    </div>
</nav>