<!DOCTYPE>
<html lang="en">
<head><title>Admin Control Panel</title>
    <link rel="stylesheet" type="text/css" href="/chefpanel.css">
</head>
<body><div class="container">
    <%- include('partials/navbar') %></div>

    <%- include('partials/orderListForChef') %>
</body>
<script>

</script>
</html>