<!DOCTYPE>
<html lang="en">
<head><title>Admin Control Panel</title>
    <link rel="stylesheet" type="text/css" href="/controlpanel.css">
</head>
<body>

<div class="listContainer">
<ul>
    <% items.forEach(function(item) { %>
        <button class="deletebtn">X</button>
        <li>
            <strong><%= item.itemName %></strong>
            <br>
            Price: <%= item.price %> €
        </li>
    <% }); %>
</ul>
    </div>
<%- include('partials/addItemForm') %>
</body>
</html>