<!DOCTYPE>
<html lang="en">
<head><title>Order Status</title></head>
<link rel="stylesheet" type="text/css" href="/orderStatus.css">
<body>
<h1>The order is empty!!</h1>
<p>Redirecting to the order page ಥ_ಥ</p>
</body>
</html>
<script>
    window.setTimeout(function(){
        // Move to the login page
        window.location.href = "http://localhost:3000/user/order";
    }, 3500);
</script>