<!DOCTYPE html>
<html lang="en">
<head>
    <title>Burger Box!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
    <body><div class="container">
        <%- include('partials/navbar') %></div>
    <div class="container">
        <%- include('partials/menu') %>
    </div>
    <div class="container">
        <%- include('partials/footer') %></div>
    </body>
</html>
<script>
    alert('Welcome to BurgerBox! Per assicurare il corretto funzionamento dell\' ' +
        'app, in fase di testing è richiesto che lo User, lo Chef e l\'Admin siano ' +
        'autenticati su browser differenti per evitare possibili conflitti tra i cookie di sessione. ' +
        'In fase di Release ciò non crea problemi poichè logicamente i tre utenti sono su macchine diverse')
</script>