<!DOCTYPE>
<html lang="en">
<head><title>Login page</title><link rel="stylesheet" type="text/css" href="/formStyle.css"></head>
    <body>
    <form class="login-form"  method="POST" action="/auth/login"  target="_self">
        <fieldset>
            <legend> Login:: </legend>
            <label for="username">Email:</label><br>
            <input type="email" id="username"  name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password"  name="password" required><br>
            <input type="submit" id="login" value="Submit"><br><br>
        </fieldset>
    </form>
    <h2>NOTE: Standard Users:</h2>
    <ul>
        <li><p>User:</p>
            <p><strong>Username:</strong> user@user</p>
            <p><strong>Password:</strong> user</p>
        </li>
        <li><p>Admin:</p>
            <p><strong>Username:</strong> admin@admin</p>
            <p><strong>Password:</strong> admin</p>
        </li>
        <li><p>Chef:</p>
            <p><strong>Username:</strong> chef@chef</p>
            <p><strong>Password:</strong> chef</p>
        </li>
    </ul>
    </body>
<script>
    document.getElementById('login').addEventListener('click', ()=>{
        document.getElementById('email').value = document.getElementById('email').value.trim()
        document.getElementById('password').value = document.getElementById('password').value.trim()
    })
</script>
</html>