<!DOCTYPE>
<html lang="en">
<head><title>Ordering Page</title>
    <link rel="stylesheet" type="text/css" href="/order.css">
</head>
<body>
<div class="container">
<%- include('partials/navbar') %>
</div>
<div class="menuContainer">
    <%- include('partials/itemListForOrder') %>
</div>
</body>
</html>