<!DOCTYPE>
<html lang="en">
<head><title>Order Status</title></head>
<link rel="stylesheet" type="text/css" href="/orderStatus.css">
<body>
<div class="orderContainer">
    <h2>Here is your order:</h2>
    <p>Remain in this page to see when your order is ready</p><br>
    <p>Your order is composed of: <p>
    <ul><%savedOrder.itemNameArray.forEach(item => { %>
        <li><%=item%><%})%></li>
        <%if(!savedOrder.itemNameArray.length){%>
            <li>Your order is empty!, are you messing with us !? ლ(ಠ益ಠლ</li>
        <%}%>
    </ul>
    <p id="status"> The status of your order is <span id="span"><%=savedOrder.status%></span></p>
    <p id="statusinfo">
</div>
<div id="loader"></div>
</body>
<script>
    const eventSource = new EventSource(`http://localhost:3000/chef/chefstream/<%=savedOrder._id%>`, { withCredentials: true })
        //data contains the updated status of the order
        if(document.getElementById('span').textContent==='pending'){
            document.getElementById('statusinfo').textContent = `A chef will take your order ASAP`
        }else if(document.getElementById('span').textContent==='processing'){
            document.getElementById('statusinfo').textContent = `Your order is being elaborated by our chefs`
        }else if(document.getElementById('span').textContent==='ready'){
            document.getElementById('loader').setAttribute('style', 'display: none;')
            document.getElementById('statusinfo').textContent = `You can go retrieve your order!!`
        }
    eventSource.onmessage = (ping) => {window.location.href = "http://localhost:3000/user/orderStatus/<%=savedOrder._id%>"}
</script>
</html>