<!DOCTYPE>
<html lang="en">
<head><title>Login page</title></head>
<body>
<form class="login-form"  method="POST" action="/auth/registerAdmin"  target="_self">
    <fieldset>
        <legend> Register an Admin:: </legend>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Submit"><br><br>
    </fieldset>
</form>
    <footer>
    <p>Are you trying to register a <a href="/auth/register">normal user</a>?</p>
    </footer>
</body>
</html>