*, *:before, *:after{
    box-sizing: border-box;
    padding: 0; margin: 0;
}

.nav {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.nav a {
    float: right;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    background-color: #cccccc;
    border: 1px solid black;
    margin: 3px;
}

.nav a.logo {
    float: left;
    font-size: 25px;
    font-weight: bold;
    background-color: #cccccc;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a.active {
    background-color: #ffa51e;
    color: white;
}

.nav-right {
    float: right;
    background-color: #f1f1f1;
    display: inline-block;
}